{% extends 'base/main.html' %}

{% load static %}

{% block title %}
<title>Chattey - Delete {{message.body}}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/pchat.css' %}">
{% endblock css %}

{% block content %}
<div class="border text-center p-5 m-5">
<p class="name my-4">Confirm {{message.body}} delete!</p>
<form method="post" class="mb-4">
    {% csrf_token %}
    <input type="submit" class="name" value="Proceed">
</form>
{% if message.receiver %}
<div>
    <a href="{% url 'pchat' message.receiver %}" class="name">Cancel</a>
</div>
{% else %}
<a href="{% url 'group-chat' room.id %}" class="name">Cancel</a>
{% endif %}
</div>
{% endblock %}