{% extends 'base/main.html' %}

{% load static %}

{% block css %}
<script type="application/x-javascript">
    addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);
    }
</script>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock css %}

{% block title %}
<title>Login - Chattey</title>
{% endblock title %}

{% block content %}

<!-- <form method="post">
    {% csrf_token %}
    <p>{{message}}</p>
    <div>
        <label for="username">Username
            <input type="text" name="username" id="username" placeholder="Username">
        </label>
    </div>
    <div>
        <label for="pasword">Password
            <input type="password" name="password" id="password" placeholder="Password">
        </label>
    </div>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <input type="submit" value="Login">
    <p>Don't have an account? <a href="{% url 'register' %}">SignUp</a></p>
    <a href="{% url 'reset-password' %}">Forgot Your Password?</a>
</form> -->

<div class="main-w3layouts wrapper">
    <h1 class="text-white">LOGIN TO CHATTEY</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" class="w-100">
                {% csrf_token %}
                <p>{{message}}</p>
                <input class="text mb-3 w-100" type="text" name="username" id="username" placeholder="Username" required="">
                
                <input class="text mb-3 w-100" type="password" name="password" id="password" placeholder="Password" required="">
                
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="LOGIN">
            </form>
            <p>Don't have an Account? <a href="{% url 'register' %}"> Sign Up</a></p>
            <!-- <a href="{% url 'reset-password' %}">Forgot Your Password?</a> -->
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>&copy; 2023 Dev-Wisdom</p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}