<!-- <nav class="navbar navbar-expand-lg theme-color">
    <a href="{% url 'home' %}">Logo</a>
    <ul>
        <li>Chat</li>
        {% if user.is_authenticated %}
        <p>Welcome {{user.username}}</p>
        <p><a href="{% url 'create-group' %}">Start a group chat</a></p>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav> -->

<nav class="navbar navbar-expand-lg theme-color">
    <div class="container pt-2 pb-2">
      <a class="navbar-brand fw-600 text-white" href="{% url 'home' %}">Chattey</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white text-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="me-auto">
          {% if user.is_authenticated %}
            <form class="my-3 my-lg-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
            <!-- <button class="btn border-none">
                <a class="nav-link fw-100 text-white ms-3"href="{% url 'create-group' %}">Start Group Chat</a>
            </button> -->
          {% endif %}
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item fw-600">
            <a class="nav-link text-white">Welcome {{request.user.username|title}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-100 text-white mx-0 mx-md-3"href="{% url 'create-group' %}">Start Group Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>