{% extends 'base/main.html' %}

{% load static %}


{% block title %}
{% if request.user.is_authenticated %}
<title>Private chat - {{request.user.username}} &amp; {{other_user.username}}</title>
{% else %}
<title>Chattey - Private chat</title>
{% endif %}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/pchat.css' %}">
{% endblock css %}

{% block content %}

<section class="pchat-sect">
    {% if request.user.is_authenticated %}
        <div class="pchat-div">
            <a href="{% url 'user-profile' other_user.id %}" style="text-decoration: none; color: inherit;">
            <div class="person-sect d-flex theme-color text-white align-items-center mb-3">
                <div class="d-flex">
                <i class="bi bi-person-circle size2"></i>
                <div class="d-flex flex-column ms-3 align-items-start">
                    <div class="name-container mb-0">
                        <p class="name me-auto">{{other_user.username|title}}</p>
                    </div>
                    <div class="chat-container mt-0">
                        {% if other_user.last_login %}
                        <p class="group-desc">Last seen {{other_user.last_login|timesince}} ago</p>
                        {% else %}
                        <p class="group-desc">Joined {{other_user.date_joined}}</p>
                        {% endif %}
                    </div>
                </div>
                </div>
                <div class="ms-auto">
                    <a href="{% url 'home' %}">
                        <i class="bi bi-arrow-left size3"></i>
                    </a>
                </div>
            </div>
            </a>
            <div class="chat-area theme-light">
                <small style="display: block;" class="text-center">This chat is end-to-end encrypted 🔒. Only you and {{other_user.username|title}} can view this chat.</small>
                {% for chat_message in chat_messages %}
                <div class="prev-chat-area">
                    {% if chat_message.sender == request.user %}
                    <div class="sender-message theme-color text-white text-right ms-auto">{{chat_message}}
                       <small class="message-time text-dark">{{chat_message.timestamp}}</small>
                       <small class="edit-and-delete">
                        <a href="{% url 'edit-message' chat_message.id %}" class="me-2">📝</a>
                        <a href="{% url 'delete-message' chat_message.id %}">❌</a>
                       </small>
                    </div>
                    
                    {% else %}
                    <div class="receiver-message bg-light text-left me-auto">{{chat_message}}
                        <small class="message-time">{{chat_message.timestamp}}</small>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <small style="display: block;" class="text-center" id="prev-check">You don't have a previous conversation with {{other_user.username|title}}.</small>
                {% endfor %}
                <div class="prev-chat-area" id="chat-message"></div>
                <form method="post" id="form" class="send-form">
                    {% csrf_token %}
                    <input type="text" id="message-input" name="chat" class="message" placeholder="Enter your message...">
                    <input type="submit" value="➤" id="send-message" class="send theme-color text-white ms-auto">
                </form>
            </div>
        </div>
        {% else %}
        <p>Login to view this page</p>
        {% endif %}
      </section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const messageArea = document.getElementById("message-input");
        if (messageArea) messageArea.focus();
    });
    const url = 'wss://' + window.location.host + '/wss/private-chat/{{ other_user.username|safe }}/';
    console.log('url ', url);
    const chatSocket = new WebSocket(url);

    chatSocket.addEventListener('open', () => {console.log("Websocket connected")});

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        const messages = document.getElementById("chat-message");
        const messageDiv = document.createElement('div');
        const prev = document.getElementById("prev-check");
        const timeStamp = document.createElement('small');
        const sender = data.sender;

        if (prev) prev.style.display("none");

        if (sender === '{{ request.user.username|safe }}') {
            messageDiv.className = "sender-message theme-color text-white text-right ms-auto";
        } else {
            messageDiv.className = "receiver-message bg-light text-left me-auto";
        }
        
        timeStamp.className = "message-time text-dark";
        messageDiv.textContent = data.message;
        timeStamp.textContent = data.time;

        if (sender === '{{ request.user.username|safe }}') {
            const editLink = document.createElement("a");
            editLink.href = `/edit-message/${data.id}/`;
            editLink.textContent = "📝";
            editLink.classList.add("me-2");

            const deleteLink = document.createElement("a");
            deleteLink.href = `/delete-message/${data.id}/`;
            deleteLink.textContent = "❌";

            const small = document.createElement("small");
            small.appendChild(editLink);
            small.appendChild(deleteLink);
            messageDiv.appendChild(document.createElement("br"));
            messageDiv.appendChild(small);
            small.classList.add("edit-and-delete")
            messageDiv.appendChild(timeStamp);
        } else {
            messageDiv.appendChild(timeStamp);
        }
        messages.appendChild(messageDiv);
    }

    chatSocket.addEventListener('close', () => {console.log("Websocket disconnected")});


    document.querySelector("#send-message").onclick = (e) => {
        e.preventDefault();
        const messageInput = document.querySelector("#message-input");
        function isValidInput(inputStr) {
            if (!inputStr.trim()) {
                return false;
            }
            const regex = /^\s+$/;
            if (regex.test(inputStr)) {
                return false;
            }
            return true;
        }
        if (isValidInput(messageInput.value)) {
        
            const message = {
                type: 'chat_message',
                recipients: [ '{{ request.user.username|safe }}', '{{ other_user.username|safe }}' ],
                message: messageInput.value,
            }
            chatSocket.send(JSON.stringify(message));
            console.log('Message ' + message + ' sent to backend websocket');
            messageInput.value = '';
        }
    }
</script>

{% endblock %}