{% extends 'base/main.html' %}

{% load static %}
{% block css %}
<script type="application/x-javascript">
    addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);
    }
</script>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock css %}

{% block title %}
<title>Sign up - Chattey</title>
{% endblock title %}

{% block content %}

<!-- <form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username
            <input type="text" name="username" id="username" placeholder="Username">
        </label>
    </div>
    <div>
        <label for="pasword">Password
            <input type="password" name="password" id="password" placeholder="Password">
        </label>
    </div>
    {{ form.as_p }}
    <input type="submit" value="Register">
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form> -->


<div class="main-w3layouts wrapper">
    <h1 class="text-white">SIGNUP TO CHATTEY</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" class="text-white w-100">
                {% csrf_token %}
                {{ form.as_p }}
                
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
        </div>
    </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}