{% extends 'base/main.html' %}

{% block title %}
<title>Chattey - Change Password</title>
{% endblock %}

{% block content %}
<h1>Change Password</h1>

<h3>Enter Your Desired Password</h3>
 <form method="post">
    {% csrf_token %}
    <label for="">New Password
        <input type="password" name="" id="">
    </label>
    <label for="">Confirm New Password
        <input type="password" name="" id="">
    </label>
    <input type="submit" value="Reset Password">
    <!-- <a href="{% url 'reset-complete' %}">Reset Password</a> -->
 </form>
{% endblock %}