a {
    color: inherit;
    text-decoration: none;
}
.pchat-sect {
    margin: 1rem 12rem;
}
.pchat-div {
    border-radius: 20px;
    padding: 2rem
}
.edit-and-delete {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
}
.edit-message-form {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
}
.chat-area {
    padding: 1.5rem;
    position: relative;
    border-radius: 0 0 15px 15px;
}
.prev-chat-area {
    /* padding: 1.5rem; */
    position: relative;
}
.username {
    position: absolute;
    top: -20px;
    left: 0;
    color: rgb(72, 81, 177);
}
.message-time {
    position: absolute;
    bottom: -20px;
    right: -0;
}
.sender-message, .receiver-message {
    width: auto;
    max-width: 75%;
    padding: 1rem;
    border-radius: 5px;
    margin: 2.2rem 0;
    position: relative;

}
.sender-message {
    border-radius: 15px 25px 0 15px;
    position: relative;
}
.receiver-message {
    border-radius: 0 15px 0 25px;
}
.send-form {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
}
.hidden_ {
    display: none;
    visibility: hidden;
}
.message {
    padding: .5rem 1rem;
    border: 1px solid grey;
    border-right: none;
    border-radius: 10px 0 0 10px;
    flex: 9;
}
.send {
    text-align: center;
    border: none;
    border-radius: 0 10px 10px 0;
    font-weight: 500;
    padding: .5rem .5rem;
    flex: 1;
}
.size2 {
    font-size: 2rem;
}
.size3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
}

@media screen and (max-width: 1120px) {
    .pchat-sect {
        margin: 1rem 4rem;
    }
}

@media screen and (max-width: 992px) {
    .pchat-sect {
        margin: 1rem 3rem;
    }
    /* .message {
        width: 90%;
    }
    .send {
        width: auto;
    } */
    .pchat-div {
        padding: 1rem
    }
    .chat-area {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .pchat-sect {
        margin: .5rem 1rem;
    }
    /* .message {
        width: 90%;
    }
    .send {
        width: auto;
    } */
    .pchat-div {
        padding: .8rem
    }
    .chat-area {
        padding: .8rem;
    }
}

@media screen and (max-width: 568px) {
    .pchat-sect {
        margin: .5rem .5rem;
    }
    .pchat-div {
        padding: .5rem
    }
    .chat-area {
        padding: .5rem;
    }
}