{% extends 'base/main.html' %}

{% load static %}

{% block title %}
<title>{{group.name|title}}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pchat.css' %}">
<link rel="stylesheet" href="{% static 'css/group-chat.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}

<div class="m-0 p-0 group-container">
    <a href="{% url 'group-chat' group.id %}" style="text-decoration: none; color: inherit;" class="back">
        <i class="bi bi-arrow-left size2 text-white"></i>
    </a>
    <div class="d-flex w-100 theme-color text-center text-white align-items-center mb-3">
        <div class="d-flex flex-column text-center p-5 align-items-start">
            <h1 class="text-center pt-5 fs-1">{{group.name|title}}</h1>
            <h5 class="text-center">Created {{group.date_created|timesince}} ago</h5>
            <p style="font-style: italic;" class="text-center pb-5">
            {% if group.description %}
            {{group.description}}
            {% else %}
            No group description
            {% endif %}
            </p>
        </div>
    </div>
    <div class="py-4 px-5">
        <h2 class="mb-4">Group Participants</h2>
        <div>
            {% for participant in group.participants.all %}
            {% if participant.id == group.creator.id %}
            <p><b>{{participant.username|title}}</b> - (admin)</p>
            {% else %}
            <p><a href="{% url 'pchat' participant.username %}" style="text-decoration: none; color: inherit;">
                {{participant.username|title}}</a></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}