{% extends 'base/main.html' %}

{% load static %}


{% block title %}
<title>Private chat - {{request.user.username}} &amp; {{other_user.username}}</title>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<p>This is the beginning of your private chat with {{other_user.username}}</p>
<p>This chat is end to end encrypted and only you and {{other_user.username}} can view this chat</p>
<br />
<div id="chat-messages">
    {% for chat_message in chat_messages %}
    <p>{{chat_message}}</p>
    {% empty %}
    <p>This is the beginning of your conversion with {{other_user.username}}<br />
      No chats yet</p>
    {% endfor %}
</div>
<div id="chat-message"></div>
<form id="form" method="post">
    {% csrf_token %}
    <input type="text" id="message-input" name="chat">
    <input type="submit" id="send-message" value="Send">
</form>
{% else %}
<p>Login to view this page</p>
{% endif %}

<!-- <script src="{% static 'js/private-chat.js' %}"></script> -->
<script>
    const url = 'ws://' + window.location.host + '/ws/private-chat/{{ other_user.username|safe }}/';
    console.log('url ', url);
    const chatSocket = new WebSocket(url);

    chatSocket.addEventListener('open', () => {console.log("Websocket connected")});

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        console.log("Data: ", data);
        const messages = document.getElementById("chat-message");
        const divMessages = document.getElementById("chat-messages");
        divMessages.innerHTML = '';
        messages.insertAdjacentHTML('beforeend', `<p>${data.message}</p>`);
        console.log("message: ", data.message);
        console.log("type: ", data.type);
    }

    chatSocket.addEventListener('close', () => {console.log("Websocket disconnected")});


    document.querySelector("#send-message").onclick = (e) => {
        e.preventDefault();
        const messageInput = document.querySelector("#message-input");
        const message = {
            type: 'chat_message',
            recipients: [ '{{ request.user.username|safe }}', '{{ other_user.username|safe }}'],
            message: messageInput.value,
        }
        chatSocket.send(JSON.stringify(message));
        console.log('Message ' + message + ' sent to backend websocket');
        messageInput.value = '';
    }
</script>

{% endblock %}